.chimp-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chimp-input {
    font-size: 0.9rem;
    padding: 8px;
    font-family: monospace, monospace;
}

.chimp-submit {
    font-size: 0.9rem;
    padding: 8px;
    font-family: monospace, monospace;
    font-weight: 600;
}