.hero {

	.section-inner {
		padding-top: 0;
		padding-bottom: $hero--padding-b__mobile;
		//background-color: white;
	}

	.background-white {
		background-color: white;
		width: 110%;
		height: 82%;
		position: absolute;
		top: 20%;
		left: -5%;
		z-index: -1;
		// border-top-left-radius: 40px;
		// border-top-right-radius: 40px;
		border-radius: 25px;
		box-shadow: 1px 1px 25px rgba(51, 51, 51, 0.404);
	}

	.steps-content {
		text-align: left;
		margin-top: 30px;
		//background-color: white;

		.step-container{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 30px;

			.step-icon{
				height: 80px;
				margin: 0;
				margin-right: 15px;
			}
			.step-title{
				font-size: 1rem;
				margin: 0;
				//margin-bottom: -10px;
				line-height: 1.2rem;
			}
			.step-text{
				margin: 0;
				font-size: 0.9rem;
				line-height: 1.2rem;
			}
		}

		.watch-container {
			//background-color: rgba(255, 255, 255, 0.904);
			width:70%;
			margin: auto;
			margin-bottom: 25px;
			padding: 5px;
			border-radius: 50%;
			margin-top: -5px;
		
			.watch-text {
				text-align: center;
				font-weight: 600;
				//margin-top: 30px;
				margin-bottom: 0;
			}

			.phone-image {
				margin-top: 34px;
				margin-bottom: -10px;
			}
		}
	}

}

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
			z-index: 2;
			// position: absolute;
			// top: 0;
			// left: 0;
		}
	}
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	
	.hero {
		.section-inner {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.background-white {
			height: 530px;
			width:80%;
			left: 10%;
		}

		.store-buttons{
			display: flex;
			flex-direction: row;
			justify-content: center;

			img{
				margin: 0;
			}
		}

		.steps-content{
			//text-align: center;
			margin: auto;
			width: 50%;
			margin-top: 10px;

			.phone-watch{
				display: flex;
				flex-direction: row-reverse;
				justify-content: center;
				align-items: center;
				width: 120%;
				margin: auto;

				.watch-container {
					//padding-right: 50px;
				}
			}
		}
	}

	.hero-inner {
		

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}

	a {
		width: 300px;
	}

	
}

@include media( '>large' ) {
	.hero {
		.steps-content{
			.phone-watch{
				// display: flex;
				// flex-direction: row-reverse;
				// justify-content: center;
				// align-items: center;
				width: 120%;
				margin: auto;

				.watch-container {
					//width: 200px;
				}
			}
		}
	}
}

@include media( '>x-large' ) {
	.hero {
		.steps-content{
			.phone-watch{
				// display: flex;
				// flex-direction: row-reverse;
				// justify-content: center;
				// align-items: center;
				width: 90%;
				margin: auto;

				.watch-container {
					//width: 200px;
				}
			}
		}
	}
}
